/* Make Bootstrap a bit prettier */
html {
  font-size: 16px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 200;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: .75rem;
    margin-bottom: .75rem;
    font-weight: 400;
}

h1, .h1 {
  line-height: 3rem;
  font-size: 3rem;
}

h2, .h2 {
  line-height: 2.25rem;
  font-size: 2.25rem;
}

h3, .h3 {
  line-height: 2.25rem;
  font-size: 2rem;
}

h4, h5, h6, .h4, .h5, .h6 {
  margin-top: .75rem;
  margin-bottom: .75rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
}

p {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

/* Make drop shadow */
.one-edge-shadow {
  -webkit-box-shadow: 0 16px 24px -16px black;
     -moz-box-shadow: 0 16px 24px -16px black;
          box-shadow: 0 16px 24px -16px black;
}

/* Create container for articles */
.articles {
  margin-top: -.75rem;
  margin-bottom: -.75rem;
}
