/* Custom Color Palette
	red:0xf25346
	white:0xd8d0d1
	brown:0x59332e
	pink:0xF5986E
	brownDark:0x23190f
	blue:0x68c3c0
	background: linear-gradient(#e4e0ba, #f7d9aa)
*/

/* Make Bootstrap a bit prettier */
html {
  font-size: 16px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 1.5rem;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 100;
    font-style: italic;
    background-color: #F0B414;
}

.container {
    margin-top: -.75rem;
    margin-bottom: -.75rem;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: .75rem;
    margin-bottom: .75rem;
    font-family: 'Germania One', 'Helvetica', sans-serif;
    font-weight: 400;
    font-style: normal;
    border-bottom: 8px solid #f25346;
}

h1, .h1 {
  line-height: 3rem;
  font-size: 3rem;
}

h2, .h2 {
  line-height: 2.25rem;
  font-size: 2.25rem;
}

h3, .h3 {
  line-height: 2.25rem;
  font-size: 2rem;
}

h4, h5, h6, .h4, .h5, .h6 {
  margin-top: .75rem;
  margin-bottom: .75rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
}

p {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

/* Create container for articles */
.articles {
  margin-top: -.75rem;
  margin-bottom: -.75rem;
}
